.movies-container{
    display: flex;
    gap:1rem;
    flex-wrap:wrap;
}

.film-name{
    width:20ch;
    margin:0;
}

/* Basic styling for seat container and rows */
.seat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .seat-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  /* Basic styling for seats */
  .seat {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: background-color 0.3s;
  }
  
  /* Style for selected seats */
  .seat.selected {
    background-color: #ff5722;
    color: white;
  }
  